/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2015, 10:16:31 AM
    Author     : aryner
*/



body {
	margin: 0;
	font-family: Helvetica; 
	font-size : small;
}

#header {
	height: 030px;
	background: honeydew;
	border-bottom-style: solid;
	border-bottom-color: mediumturquoise;
}

.tinySpacer  {
	height: 00%;
	width: 100%;
}

.title {
	font-size: x-large;
	margin: 80px;
	margin-right: 10px;
	height: 30px;
	width: 50px;
	font-family: Helvetica;
	clear: both;
	text-decoration: none;
}

.welcome {
	font-family: Helvetica;
	font-size: small;
	color: #888;
}

.logOut {
	float: right;
	margin: -27px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ccc;
	padding: 3px 10px;
	padding-top: 2px;
	font-family: sans-serif;
	font-size: small;
}


.btn {
	font-family: Helvetica;
	border-radius: 5px;
	border: 1px solid darkslategray;

	padding: 6px;
	margin: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

.logOutBtn {
	font-family: Helvetica;
	border-radius: 6px;
	border: 1px solid darkslategray;

	padding: 5px;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

#content {
	margin: 10px 25px; 
	margin-right: 0px;
	width: 100%;
	height : 100%;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.meta-row {
	width: 100%;
	height: 75px;
}

.meta-col {
	float: left;
	margin-right: 40px;
}

.sub-text {
	margin: -15px 0px 10px 0px;
}

.newRow {
	clear: both;
	position: relative;
}

.small_text_box {
	width: 20px;
}

.errorDiv {
	margin-top: 20px;
}