/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2015, 10:16:31 AM
    Author     : aryner
*/



body {
	margin: 0;
	font-family: Helvetica; 
	font-size : small;
}

a {
	text-decoration: none;
}

#header {
	height: 030px;
	height: 030px;
	background: honeydew;
	border-bottom-style: solid;
	border-bottom-color: mediumturquoise;
}

.tinySpacer  {
	height: 09%;
	width: 100%;
}

.title {
	font-size: x-large;
	margin: 80px;
	margin-right: 10px;
	height: 30px;
	width: 50px;
	font-family: Helvetica;
	clear: both;
	text-decoration: none;
}

.welcome {
	font-family: Helvetica;
	font-size: small;
	color: #888;
}

.logOut {
	float: right;
	margin: -27px 10px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ccc;
	padding: 3px 10px;
	padding-top: 2px;
	font-family: sans-serif;
	font-size: small;
}


.btn {
	font-family: Helvetica;
	border-radius: 5px;
	border: 1px solid darkslategray;

	padding: 6px;
	margin: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

.logOutBtn {
	font-family: Helvetica;
	border-radius: 6px;
	border: 1px solid darkslategray;

	padding: 5px;
	margin-left: 20px;
	margin-bottom: 0;
	text-align: center;
	background-color:  whitesmoke;
	text-decoration: none;
	color: darkslategray;

	cursor: pointer; 
}

#content {
	margin: 1% 2%; 
	width: 098%;
	height : 100%;
}

.error {
	color: red;
}

.hidden {
	display: none;
}

.white {
	color: white;
}

.meta-row {
	width: 100%;
	height: 75px;
}

.meta-col {
	float: left;
	margin-right: 05px;
}

.option-col {
	float: left;
	margin-right: 35px;
}

.home-col {
	float: left;
	margin-right: 05px;
	margin-bottom: 50px;
}

.sub-text {
	margin: -15px 0px 10px 0px;
}

.newRow {
	clear: both;
	position: relative;
}

.small_text_box {
	width: 20px;
}

.errorDiv {
	margin-top: 20px;
}

.note {
	font-size: 75%;
}

.container {
	width:80%;
	clear: both;
	margin: 20px;
	padding: 10px;
}

.gradeImg {
	width: 700px;
	margin: 05px;
}

.examineImg {
	position: absolute;
	margin: 0px;
	padding: 0px;
	left: 1%;
	top: 1%;
	width: 98%;
}

.question {
	margin-left: 05px;
}

.rank_col {
	float: left;
	width: 40%;
}
.rank_col img {
	width: 90%;
}
.rank_form {
	float: left;
	width: 15%;
}

.rank_form label {
	font-weight: bold;
	font-size: 1.25em;
}

.rank_form ul {
	padding-left: 0px;
}

.rank_form li {
	list-style-type: none;
	padding: 10px;
	text-align: left;
}

.rank_form form {
	margin-top: 50px;
}

.rank_form .errorDiv {
	width: 60%;
}

.group_view_img {
	display: table;
	width: 90%;
	margin: 10px auto;
}

.group_view_col {
	float: left;
	width: 30%;
	margin: 20px 0px;
}

.group_view_col .btn {
	display: table;
	margin: 0 auto;
}

.group_left_right_btn {
	float: left;
	margin-bottom: 50px;
}

.grade_rank_header h1 {
	float: left;
}
.grade_rank_header progress {
	float: left;
	margin: 20px 80px;
} 
.grade_rank_header p {
	float: left;
	margin: 20px;
	font-weight: bold;
	font-size: 1.10em;
} 

.span {
	font-size: .5em;
}

.csv, table, th, td {
	border: none;
}
.csv, table, th {
	text-align: left;
}
.csv, table, td {
	text-align: right;
}
.excel td{
	border: 1px solid black;
}
.excel th{
	border: 1px solid black;
}

#circle {
	position: fixed;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border-color: black;
	border-width: 1px;
	border: solid;
	z-index: 1;
	cursor: none; 
}

.user_table, table, th, td {
	border: 1px solid grey;
}
.user_table th {
	width: 200px;
	text-align: right;
}
.user_table th:first-child {
	text-align: left;
}
.user_table td:first-child {
	text-align: left;
}